# --- EXTERNAL SERVICES (AI & Vector DB) ---
PINECONE_API_KEY=""
HOST_DENSE=""
HOST_SPARSE=""
GOOGLE_API_KEY=""

# --- DATABASE CREDENTIALS (User/Pass) ---
MONGO_INIT_USER=""
MONGO_INIT_PASS=""
DB_NAME="edurag_db"

# --- CONNECTION STRINGS ---
MONGO_URL=""

# 2. API URL: Link để Frontend gọi sang Backend
API_URL=""