# --- DATABASE CONFIG (User/Pass mặc định) ---
MONGO_INIT_USER='admin'
MONGO_INIT_PASS='123456'
DB_NAME='edurag_db'
USER_COLLECTION="user_demo"

# --- CONNECTION STRING (Quan trọng) ---
# Dùng localhost để bạn có thể kết nối từ Compass hoặc chạy script test tay
MONGO_URL='mongodb://admin:123456@localhost:27017/edurag_db?authSource=admin'

# --- API KEYS (Điền key thật của bạn vào đây) ---
PINECONE_API_KEY='your_pinecone_key_here'
HOST_DENSE='your_host_dense_here'
HOST_SPARSE='your_host_sparse_here'
OPENROUTER_API_KEY='your_openrouter_key_here'
API_URL='http://backend:8000'