# Quan trọng: Ưu tiên tải bản CPU
--extra-index-url https://download.pytorch.org/whl/cpu

# Core AI (Pytorch CPU sẽ được cài từ link trên)
torch
torchvision
torchaudio

requests
beautifulsoup4
pinecone
google
langchain
langchain-community
pypdf
sentence_transformers
pdfminer.six
PyMuPDF
protobuf
google-api-python-client
grpcio
rank_bm25
python-dotenv
streamlit
google-generativeai
google.genai
dotenv
matplotlib
langchain-google-genai
fastapi
uvicorn
pymongo==4.6.3
motor==3.3.2 #Dùng Motor để làm việc với MongoDB bất đồng bộ